body
{
  background-color: #393E46;
}


h1
{
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p
{
  font-family: 'Indie Flower', cursive;
  color: #4ECCA3;
  font-size: 2rem;
}

img
{
  width: 70%;
}

footer
{
  font-family: 'Indie Flower', cursive;
  color: #F7F5F2;
  font-size: 1rem;
  text-align: center;
  margin-top: 5%;
}

.container
{
  text-align: center;
  margin: auto;
  width: 70%;
}

.Dice
{
  text-align: center;
  display: inline-block;
}
